// Utility classes
@use './variables' as *;
@use './mixins' as mixins;



// Layout
.container {
    max-width: $desktop-size;
    margin-inline: auto;
}


.bg {
    &-hero {
        background-color: $hero-bg;
    }
}


.text {
    &-active {
        color: $active-text;
    }
    &-white {
        color: $white;

        &-darken {
            color: $white-darken;
        }
    }

    &-capitalize {
        text-transform:capitalize !important;
    }
}



// Fonts
.poppins-regular {
    @include mixins.poppins-regular;
}

.poppins-medium {
    @include mixins.poppins-medium;
}

.poppins-semibold {
    @include mixins.poppins-semibold;
}


// Buttons

.btn {
    display: inline-block;
    cursor: pointer;

    @include mixins.poppins-semibold;

    &-transparent {
        background-color: transparent;
        border: 0;
    }

    &-with-arrow {
        position: relative;
        width: fit-content;
        // background-color: red;
        &::after {
            $arrow-size: 2rem;

            content: "";
            position: absolute;
            bottom: 47%;

            width: $arrow-size;
            height: calc($arrow-size / 4);
            background-image: url('/images/icons/arrow.svg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            // background-color: red;
        }
    }
}
