// All variable styles

// Colors
$hero-bg: hsla(234, 21%, 17%, 1);
$active-bar: hsla(27, 100%, 67%, 1);
$active-text: hsla(27, 100%, 84%, 1);

$white: hsla(0, 0%, 100%, 1);

// Fonts
$base-font: 16px;