@use './variables' as *;
@use './mixins' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './reset';
@import './utilities';


$menu-animation-timing: 120ms ease;


@mixin flex {
    display: flex;
    // align-items: center;
}

.logo {
    $logo-size: 7rem;
    display: block;
    width: $logo-size;
    height: calc($logo-size / 4);

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    z-index: 2;

}


header {
    .header-wrapper {
        @include flex;
    }

    border-bottom: 1px solid $white-gray;


    .logo {
        align-self: center;
    }

    @include mixins.sm {
        padding: 1rem;
    }

    nav {
        $nav-gap: 2rem;
        margin-left: auto;
        
        .nav-wrapper {
            @include flex;
            column-gap: $nav-gap;
            row-gap: 1rem;

            // transition: opacity 30ms ease;


            @include mixins.sm {
                display: flex; // shifted to the toggler

                opacity: 0;
                z-index: -1;
                
                position: fixed;
                top: 5rem;
                right: 0;
                // padding-inline: 3rem;
                width: 60%;
                height: 100%;
                flex-direction: column;
                // background-color: red;


                // padding-top: 5rem;

                text-align: center;

                &::before {
                    content: "";
                    position: fixed;

                    backdrop-filter: blur(10px);
                    top: 0;
                    left: 0;

                    width: 100%;
                    height: 100%;
                }
            }
        }

        
        ul {
            list-style: none;
            padding: 0;
            @include flex;
            column-gap: $nav-gap;
            row-gap: 1rem;
    
            a {
                display: inline-block;
                text-decoration: none;
                position: relative;
    
                color: $white-darken;
                
                padding-block: calc(calc($nav-gap * 1.7)  / 2);
                @include mixins.poppins-semibold;
    
                transition: color 300ms ease-in-out;
    
                &:hover {
                    color: $white;
                }
    
                &.active,
                &:active {
                    color: $white;
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                    
                        background-color: $active-bar;
                        width: 100%;
                        height: 2px;
                        border-radius: .5rem;
                    }
                }
    
            }
            
            @include mixins.sm {
                flex-direction: column;

                a {
                    width: 100%;
                    padding-block: 1rem;

                    &::before {
                        top: 100% !important;
                    }
                    
                }
            }
        }


        @include mixins.sm {
            color: inherit;
            // .nav-wrapper {
            //     display: none;
            // }

            .hambugger:has(input:checked)~ .nav-wrapper {
                // display: flex;
                opacity: 1;
                z-index: 1;
            }

            .nav-cta {
                margin-inline: auto;
            }
        }
    }
    
}



.hero-wrapper {

    h1 {
        padding-top: 10rem;
        @include mixins.poppins-semibold;
        font-size: 3rem;
        line-height: 3.9rem;
        color: $white;


        span {
            display: inline-block;
            line-height: 1.5rem;
            color: $white-darken;
            font-size: 1.2rem;
            margin-block: 1.54rem;
        }

        @include mixins.sm {
            padding-top: 4rem;
            font-size: 2.8rem;
        }

        @include mixins.md {
            width: 50%;
            font-size: 3.8rem;
        }


    }

    .hero_image {
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        @include mixins.md {
            width: 40%;
            height: 100%;
        }
    }

    .btn {
        @include mixins.poppins-medium;
        font-size: 1rem;

        &::after {
            --arrow-size: 2.3rem;
            --arrow-height: 27%;
        }
    }

    @include mixins.md {
        @include flex;
        justify-content: space-between;

        height: 80vh;
    }

    

    
}

.hero_client_wrapper {

    @include flex;
    padding-block: 2rem 4rem;

    flex-direction: column;
    
    @include mixins.md {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    @include mixins.sm {
        padding-top: 7rem;
    }


    h2 {
        @include mixins.poppins-medium;
        color: $white;
        font-size: 1rem;
        // background-color: red;

        span {
            display: inline-block;
            line-height: 1.5rem;
            color: $white-darken;
            font-size: .9rem;
        }
    }

    ul {
        // margin-left: auto;
        @include flex;
        width: fit-content;
        flex-wrap: wrap;
        li {
            display: inline-block;

            --logo-size: 10rem;
            $lent: var(--logo-size, 10rem);
            width: $lent;
            height: calc($lent / 3);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            margin: 0 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }


    .search-input {
        background-color: $white-gray;

        @include mixins.md {
            width: 70%;
        }


        input:placeholder-shown {
            color: white;
        }

        &:has(input:not(:placeholder-shown)) {
            background-color: $blue-accent;
        }

    }
}

.about_us {

    ._top {
        margin-block: 1rem;
        // @include flex;
        // flex-direction: column;

        

        // row-gap: 2rem;

        @include mixins.md {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            column-gap: 2.5rem;
        }

        .section-h1 ~ p {
            
            margin-top: 2rem;


            @include mixins.md {
                width: 85%;
            }
        }


        .sections {

            @include mixins.sm {
                margin-top: 4rem;
            }
            p:last-of-type {
                margin-top: 3rem
            }
        }
    }

    .img_lineup {
        @include flex;
        justify-content: space-between;

        margin-block: 4rem;

        .img_wrapper {
            width: 26rem;
            height: 27rem;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            // Show just the first one on mobile

            @include mixins.sm {
                display: none;

                &:first-of-type {
                    display: block
                }
            }
        }
    }

    .info-cta {
        
        @include mixins.md {
            
            @include flex;
            align-items: center;
        }

        & > div {
            // @include flex;
            // background-color: red;
            @include flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 2rem;

            
            @include mixins.sm {
                margin-bottom: 3rem;
            }

            @include mixins.md {
                justify-content: space-between;
                width: 50%;
            }

            div {
                span {
                    display: inline-block;
                    font-size: 1rem;
                    @include mixins.poppins-regular;

                    &:first-of-type {
                        @include mixins.poppins-semibold;
                        font-size: 2.25rem;
                    }
                }
                
            }
        }
    }
}

.coreVal_wrapper {

    @include mixins.md {
        @include flex;
        column-gap:10rem;
    }
    h3 {
        font-size: 1rem;
        @include mixins.poppins-semibold;
    }
    p {
        @include mixins.poppins-regular;
        font-size: .87rem;
        margin-top: .5rem;

        .section-p {
            margin-top: 2rem;
        }
    }

    .cards {
        margin-top: 4rem;
    }

    .float-right {
        width: 70%;
        position: relative;
        // right: 4rem;

        @include mixins.md {
            right: 4rem;
        }
    }

    .card {
        overflow: hidden;
        @include mixins.sm {
            width: 100%;
        }

        &:nth-child(even) {
            margin-block: 1rem ;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    
}

.services {
        // @include mixins.sm {
        //         display: none;
        //     }
    button {
        margin-block: 3rem;
    }

    

    .cards {
        // @include flex;
        @include flex;
        justify-content: space-between;
        flex-direction: column;

        row-gap: 2rem;
        @include mixins.md {
            flex-direction: row;
        }

        .card {
            width: 25rem;
            h3 {
                margin-block: .7rem;
            }
        }
    }
}

.process {
        // @include mixins.sm {
        //         display: none;
        //     }
    counter-reset: linkedcard;
    .cards-linked {
        @include flex;

        flex-direction: column;
        column-gap: 3rem;
        row-gap: 3rem;
        
        @include mixins.md {
            flex-direction: row;
        }

        .card {
            $border-color: $hero-bg-gray;
            $card-width: 26rem;
            
            padding:2rem 1.3rem;
            border: 1px solid $border-color;
            position: relative;

            width: $card-width !important;
            counter-increment: linkedcard;

            &::after {
                content: "0" counter(linkedcard);

                position: absolute;
                $space: 1.4rem;
                top: calc($space / 2);
                right: $space;

                color: $hero-bg-gray;
                font-size: 1.5rem;

                @include mixins.poppins-semibold;
            }

            &:not(:last-of-type)::before {
                content: "";

                position: absolute;
                right: 40%;
                bottom: -10%;


                transform: rotate(90deg);

                width: 20%;
                height: 0px;

                border: .125rem solid $hero-bg-gray;
                border-style:dashed;
                z-index: -1;


                @include mixins.md {
                    right: -20%;
                    bottom: 50%;
                    transform: rotate(0deg);
                }
            }
        }
    }
}

.customers_wrapper {
    
    @include flex;
    flex-direction: column;
    row-gap: 4rem;
    @include mixins.md {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .half-length {
            width: 40%;
        }
    }

    .section-h3 {
        margin-block: 1.125rem;
    }
    .section-h4 {
        @include mixins.poppins-semibold;
    }

    .section-p {
        margin-top: 0;
    }


    .customer-img {
        $img-width: var(--customer-img, 3rem);
        display: inline-block;
        width: $img-width;
        height: $img-width;
        border-radius: 50%;

        &:nth-child(even) {
            margin-inline: 1rem;
        }
    }

    .customers-highlight {
        margin-top: 1.5rem;

        b {
            display: block;
            @include mixins.poppins-medium;
            font-size: .75rem;
            margin-top: .5rem;
        }
    }

    .customer-reviews {
        position: relative;
        width: 37rem;

        
        @include mixins.md {
            padding: 3rem;
        }

        position: relative;


        .section-h4 {
            opacity: .8;
        }

        &::after {
            $size: 2.3rem;
            content: "";

            position: absolute;
            top: -1.2rem;
            right: 3rem;

            width: $size;
            height: $size;

            background-image: url('/images/icons/quote.svg');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
        }

        .slick-dots {
            // background-color: red;
            bottom: -5.4rem;
            $btn-size: .66rem;

            & button::before {
                width: $btn-size;
                height: $btn-size;
                background-color: $hero-bg;
                content: "";
                border: 0;
                border-radius: 50%;
            }
        }
    }

    .attribution {
        @include flex;
        align-items: center;
        gap: 1rem;
        margin-top: 2rem;
        

        b {
            @include mixins.poppins-semibold;
            font-size: 1rem;
            opacity: .87;
        }

        .customer-img {
            --customer-img: 2.4rem;
        }
        
        span:not(.customer-img) {
            @include mixins.poppins-medium;
            font-size: .875rem;
            color: $gray;
            display: block;
            opacity: .6;
        }

        .customer-logo {
            display: block;
            width: 6.5rem;
            height: 3rem;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;


            position: absolute;
            right: 2rem;
            bottom: 1.5rem;
        }
    }
}



.ads-highlights {
    @include flex;
    flex-direction: column;

    @include mixins.md {
        flex-direction: row;
    }
    
    justify-content: space-evenly;
    gap: 2rem;

    article.blog-card {
        @include flex;
        flex-direction: column;
        background-color: $white;

        // @include mixins.md {
        //     flex-direction: row;
        // }
        // width: 38rem;
        width: 30rem;
        max-width: 100%;
        .feature-img {
            width: 100%;
            height: 15.5rem;
            
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .details {
            // width: 20rem;
            padding: 2rem;
            span {
                @include mixins.poppins-medium;
                display: block;
                font-size: .875rem;
                opacity: .6;
                margin-bottom: .5rem
            }

            h1 {
                @include mixins.poppins-semibold;
                font-size: .9rem;
            }

            p {
                font-size: .9rem;
            }

            a {
                --arrow-distance: 6.5rem;
            }
        }
    }
}


.newsletter {
        // @include mixins.sm {
        //         display: none;
        //     }
    @include flex;
    flex-direction: column;
    column-gap: 5rem;
    row-gap: 2rem;

    background-color: $blue-light;

    padding-block: 6rem 5rem;
    padding-inline: 1.5rem;


    @include mixins.md {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 5rem;
    }


    @include mixins.shape-on-edge($size: 5.2rem, $image: '/images/shapes-2.svg');

    h1 {
        color: $white;
    }
    .section-header {
        margin-bottom: 1rem;
        
    }
    
    .section-h1 {
        font-size: 1.5rem;

        @include mixins.md {
            font-size: 2.25rem;
            width: 90%;
        }
    }    
    .newsletter-input {
        
        --input-background: hsla(0, 0%, 100%, 1);

        @include mixins.md {
            width: 70%;
        }
    }
}


.footer-top {
        // @include mixins.sm {
        //         display: none;
        //     }
    @include flex;
    flex-direction: column;
    
    @include mixins.md {
        flex-direction: row;
        justify-content: space-between;
    }

    padding-top: 4rem;

    .section-h1 {
        // background-color: red;
        
        @include mixins.md {
            width: 65%;
        }
    }
    .section-h3 {
        margin-block: 2rem;
        font-size: 1.5rem;
        @include mixins.poppins-semibold;
    }

    .contact,
    .address {
        font-size: 1.125rem;
        @include mixins.poppins-medium;
    }

    .address {
        font-size: .875rem;
    }

    hr {
        width: 40%;
        border-color: hsla(0, 0%, 0%, 0.08);
        margin-block: 1rem;
    }

    nav {
        @include flex;
        flex-direction: column;
        row-gap: 2rem;

        
        @include mixins.sm {
            margin-top: 3rem;
        }

        @include mixins.md {
            width: 45%;
            flex-direction: row;
            justify-content: space-between;
        }

        
        ul {
            list-style: none;
            padding: 0;

            li{
                
                margin-block: .55rem;
                &:first-of-type {
                    margin-top: 0;
                    
                    a {
                        @include mixins.poppins-semibold;
                    }
                }
            }

            &:first-of-type {
                
                a {
                    @include mixins.poppins-semibold;
                }
            }

            a {
                text-decoration: none;
                @include mixins.poppins-medium;
                font-size: .875rem;

            }
        }

    }
}

.footer-bottom {
    @include flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    @include mixins.md {
        align-items: center;
        flex-direction: row;
    }

    padding-block: 1.5rem;

    .copyright {
        // margin-left: 2rem;
        font-size: 1rem;

        @include mixins.poppins-medium;

        @include mixins.md {
            margin-left: 2rem;
        }
    }
    ul {
        @include flex;
        // margin-left: auto;

        gap: 1rem;


        @include mixins.md {
            margin-left: auto;
        }

        li a{
            display: inline-block;
            $icon-size: 2.4rem;

            width: $icon-size;
            height: $icon-size;
            overflow: hidden;


            background-position: center;
            background-repeat: no-repeat;
            background-size: 65%;

            border-radius: 50%;

            text-indent: -500%;
        }
    }
}


.ads-hero {
    text-align: center;
    h1 {
        width: 40rem;
        max-width: 100%;
        // background-color: red;

        margin-inline: auto;
    }
    p {
        width: 38rem;
        max-width: 100%;
    }
    .ads-wrapper {
        padding: 5rem 0;
    }
}


.grand-title {
    // background-color: red;
    text-align: center;
    font-size: 17vw;
    line-height: 5rem;
    
    @include mixins.md {
        font-size: 12vw;
        line-height: 12rem;
        background-position: 40% 75%;
    }

    margin-block: 0 !important;
    background-position: 20% 75%;

    background-image: url('/images/about-us/img-1.png');
    background-clip: text;
    color: transparent;

}

.anchor {
    margin-block: 4rem;
    @include mixins.poppins-medium
}
// h2 {
// }