@use './variables' as *;
@use './mixins' as mixins;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './reset';
@import './utilities';


@mixin flex {
    display: flex;
    // align-items: center;
}

.logo {
    $logo-size: 7rem;
    display: block;
    width: $logo-size;
    height: calc($logo-size / 4);

    // background-color: red;
    background-image: url('/images/logo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}


.header-top {
    @include flex;

    .logo {
        align-self: center;
    }
    nav {
        $nav-gap: 2rem;
        margin-left: auto;
        @include flex;
        gap: $nav-gap;
        ul {
            list-style: none;
            padding: 0;
            @include flex;
            gap: $nav-gap;

            a {
                display: inline-block;
                text-decoration: none;
                position: relative;

                color: $white-darken;
                
                padding-block: calc(calc($nav-gap * 1.7)  / 2);
                @include mixins.poppins-semibold;

                transition: color 300ms ease-in-out;

                &:hover {
                    color: $white;
                }

                &.active,
                &:active {
                    color: $white;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                    
                        background-color: $active-bar;
                        width: 100%;
                        height: 2px;
                        border-radius: .5rem;
                    }
                }

            }
        }
    }
}

.hero {
    @include flex;
    justify-content: space-between;
    height: 70vh;
    // background-color: red !important;
    // align-items: center;

    h1 {
        // align-self: flex-start;
        padding-top: 10rem;
        width: 50%;
        @include mixins.poppins-semibold;
        font-size: 3.8rem;
        line-height: 3.9rem;

        color: $white;
        span {
            display: inline-block;
            line-height: 1.5rem;
            color: $white-darken;
            font-size: 1.2rem;

            margin-block: 1.54rem;
        }

        &::before {
            content: "";
            $box-size: 1.3rem;

            display: block;
            
            width: $box-size;
            height: $box-size;

            background-color: hsla(0, 0%, 100%, 0.06);
            border-radius: .2rem;
            margin-bottom: 1.7rem;
        }
    }

    &_image {
        width: 40%;
        height: 100%;
        // background-color: red;
        background-image: url('/images/hero_Image.png');
        background-repeat: no-repeat;
        background-position: center;

        // background-color: red;
        background-size: contain
    }

    .btn {
        @include mixins.poppins-medium;
        font-size: 1rem;

        &::after {
            --arrow-size: 2.3rem;
            --arrow-height: 27%;
        }
    }
}

.hero_client {
    @include flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 2rem 4rem;
    h2 {
        @include mixins.poppins-medium;
        color: $white;
        font-size: 1rem;
        // background-color: red;

        span {
            display: inline-block;
            line-height: 1.5rem;
            color: $white-darken;
            font-size: .9rem;
        }
    }

    ul {
        // margin-left: auto;
        @include flex;
        width: fit-content;
        // justify-content: space-evenly;
        // background-color: red;
        // column-gap: 4rem;
        li {
            display: inline-block;

            $lent: 10rem;
            width: $lent;
            height: calc($lent / 3);

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            margin: 0 2rem;

            &:last-of-type {
                margin-right: 0;
            }
        
    }}
}